<mat-form-field>
  <input [(ngModel)] = "answer1" matInput placeholder="1. * Enter your CORRECT answer about the topic in this text-box! ">
</mat-form-field>
<mat-form-field>
  <input [(ngModel)] = "answer2" matInput placeholder="2. * Enter your INCORRECT answer about the topic in this text-box">
</mat-form-field>
<mat-form-field>
  <input [(ngModel)] = "answer3" matInput
    placeholder="3. (IT IS NOT OBLIGATORY) Enter your INCORRECT answer about the topic in this text-box">
</mat-form-field>
<mat-form-field>
  <input [(ngModel)] = "answer4" matInput
    placeholder="4. (IT IS NOT OBLIGATORY)  Enter your INCORRECT answer about the topic in this text-box">
</mat-form-field>