<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Configuración de Perfil</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Nombres</label>
                <input type="text" maxlength="50" [(ngModel)]="listaUsuario.nombres" name="nombres" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Apellidos</label>
                <input type="text" maxlength="50" [(ngModel)]="listaUsuario.apellidos" name="apellidos"
                  class="form-control" disabled>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Codigo de Usuario</label>
                <input type="text" maxlength="50" [(ngModel)]="listaUsuario.usuario" name="usuario" class="form-control"
                  disabled>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Edad </label>
                <input type="number" maxlength="2" [(ngModel)]="listaUsuario.edad" name="edad" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Contacto de Emergencia</label>
                <input type="number" maxlength="9" [(ngModel)]="listaUsuario.telefonoCasa" name="telefonoCasa"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Telefono Celular</label>
                <input type="number" maxlength="9" [(ngModel)]="listaUsuario.telefonoCelular" name="telefonoCelular"
                  class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Estado Civil</label>
                <select class="form-control" (change)="onChangeCivil($event.target)">
                  <option class="form-control" *ngFor="let opt of listaEstadoCivil" [value]="opt?.codigo"
                    [selected]="opt?.codigo==listaUsuario?.estadoCivil?.codigo">{{opt.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Sexo</label>
                <select class="form-control" (change)="onChangeSexo($event.target)">
                  <option class="form-control" *ngFor="let opt of listaSexo" [value]="opt?.codigo"
                    [selected]="opt?.codigo == listaUsuario?.sexo?.codigo">{{opt.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Dirección</label>
                <input type="text" maxlength="100" [(ngModel)]="listaUsuario.direccion" name="direccion"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-4" style="visibility: hidden;">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Estado de Usuario</label>
                <select class="form-control" (change)="onChangeEstado($event.target)" disabled>
                  <option *ngFor="let opt of listaEstado" [value]="opt?.codigo"
                    [selected]="opt?.codigo == listaUsuario?.estado?.codigo">{{opt.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" style="visibility: hidden;">
              <div class="form-group">
                <label class="bmd-label-floating" style="top: -1rem;">Perfil</label>
                <select class="form-control" (change)="onChangePerfil($event.target)" disabled>
                  <option *ngFor="let opt of listaPerfil" [value]="opt?.codigo"
                    [selected]="opt?.codigo==listaUsuario?.perfil?.codigo">{{opt.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary pull-right" (click)="actualizar()">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <div class="form-group" style="margin-top: 0px;">
          <input type="file" name="file" id="file" (change)="onFileChanged($event)" #photoInput />
          <img [src]="'data:image/jpg;base64,'+listaUsuario?.foto" (click)="photoInput.click()" />
        </div>
      </div>
      <div class="card-body">
        <p class="card-description">
          En esta sección puedes realizar tu cambio de foto. Pulsa encima de la foto para poder escoger tu foto.
        </p>
        <button type="button" class="btn btn-primary pull-right" (click)="actualizarFoto()" [disabled]="!image">Cambiar
          Foto</button>
      </div>
    </div>
  </div>
</div>