
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Tipo Examen</p>
                  <h3 class="card-title">Nota</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Descripcion
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Daily learning</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Monthly learning</h4>
                  <p class="card-category">Last month</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Annual learning</h4>
                  <p class="card-category">Last year</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Activities:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#pending" data-toggle="tab">
                            <i class="material-icons">notification_important</i> Pending
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#finished" data-toggle="tab">
                            <i class="material-icons">assignment_turned_in</i> Finished
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">cancel</i> Cancelled
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="pending">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let activityPend of listaActivityPend">
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>{{activityPend.titulo}}</td>
                            <td class="td-actions text-right">
                              <button type="button"  mat-button (click)="openDialog()" rel="tooltip" title="activityPend.descripcionLarga" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">info</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="finished">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let activityFinished of listaActivityFinished">
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>{{activityFinished.titulo}}</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="activityFinished.descripcionLarga" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">info</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="settings">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let activityCancel of listaActivityCancel">
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>{{activityCancel.titulo}}</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="{{activityCancel.descripcionLarga}}" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">info</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Ranking of classmates</h4>
                  <p class="card-category">In this section you will find accumulated scores made through the application of your classmates</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Score</th>
                      <th>Last ranking</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Raúl Lozada</td>
                        <td>100%</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Raúl Lozada</td>
                        <td>100%</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Raúl Lozada</td>
                        <td>100%</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Raúl Lozada</td>
                        <td>100%</td>
                        <td>5</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>