<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Make your class!</h4>
            <p class="card-category"> In this section you can make your class.</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary pull-right" (click)="crearTema()">
                    <mat-icon>class</mat-icon>
                    Create topic
                  </button>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field style="width: 100%">
                    <input [(ngModel)]="topic.titulo" name="titulo"  matInput placeholder="Please write the subject title! ">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field style="width: 100%">
                    <input [(ngModel)]="topic.descripcion" name="descripcion" matInput placeholder="Please write the subject description! ">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row" *ngFor="let item of listSectionClass; let i = index" class="info-box">
                <div class="col-md-12 block">
                  <mat-label>{{item.titulo}}</mat-label>
                </div>
                <div class="col-md-12 block">
                  <button type="button" class="btn pull-right" (click)="verHtml(item)">
                    See Detail
                  </button>
                </div>
              </div>
              <div class="redondea">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field style="width: 100%">
                      <input [(ngModel)]="sectionClass.titulo" name="tituloSec" matInput
                        placeholder="Please write a possible title section! ">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9" style="padding-top: 16px">
                    Please write your content
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ckeditor [(ngModel)]="sectionClass.contenidoHtml"  name="contenidoHtml" [editor]="editor"></ckeditor>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning pull-right" (click)="addSectionInMemory()">
                      <mat-icon>add_box</mat-icon>
                      Add Section
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>