.mensaje-error{
    color: azure;
    font-weight: bold
}

.fondobody{
    background-color: #1eb9f6 !important;
        /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-login{
    position: fixed;
    bottom: 0;
    right: 0;
}
